.gotop:hover{
  opacity: 1.0;
}
.gotop {
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 10px 15px;    
  font-size: 24px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 20%;
  opacity: 0.5;
}
input[type='radio'] {
  height: 20px;
  width: 20px;
}
input[type='checkBox'] {
  height: 20px;
  width: 20px;
}
